<footer>
  <div class="footer-container" style="text-align: center;">
    <p>&copy; {{ site.time | date: "%Y" }} Neureonmindflux Research Lab. All rights reserved.</p>
     <p style="margin-top: 6px; font-size: 0.95em; color: #666;">
      🇺🇸 Jacksonville, Florida — United States
    </p>
    <p style="margin-top: 10px;">
      <a href="mailto:contact@neureonmindflux.org" style="text-decoration: none; color: inherit; font-weight: bold; margin-right: 20px;">
        <img src="{{ '/assets/images/outlook_icon.png' | relative_url }}" alt="Outlook" height="18" style="vertical-align: middle; margin-right: 6px;" />
        Contact
      </a>
      |
      <a href="https://github.com/Neureonmindflux-Research-Lab" target="_blank" style="text-decoration: none; color: inherit; font-weight: bold; margin-left: 20px;">
        <img src="{{ '/assets/images/github_icon.png' | relative_url }}" alt="GitHub" height="18" style="vertical-align: middle; margin-right: 6px;" />
        GitHub
      </a>
    </p>
  </div>
</footer>
