<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title | default: site.title }}</title>

  <!-- Load styles -->
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/brain_section.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/project_cards.css' | relative_url }}">



  <!-- Load KaTeX for math rendering -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, { delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}] });">
  </script>

 
 
</head>
